@import 'src/colors.scss';

.outer-box {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 0;
}

.inner-box {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}

p {
    margin: 0;
}