@import 'src/colors.scss';

.outer-box {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 0;
}

.inner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}



p {
    margin: 0;
}

img {
    width: 350px;
    height: 100px;
}
@media screen and (max-width: 550px) {
    img {
        width: 262.5px;
        height: 75px;
    }
}