
<mat-card class="outer-box">
    <mat-card-content class="inner-box">
        <img mat-card-image class="logo" src="\assets\Lo_J&J_C_fullLogo.png">
    </mat-card-content>
    <mat-card-content div class="inner-box">
        <p>Praxis Jünemann & Jöllenbeck & Wolter</p>
        <p>Fachärzte für Innere Medizin und Allgemeinmedizin Ahrensfelder Weg 1</p>
        <p>22927 Großhansdorf · Tel. (04102) 786960</p>
        <p>Fax (04102) 7869639</p>
    </mat-card-content>
    <mat-card-content class="inner-box"> 
        <mat-card-actions><a routerLink="/impressum">Impressum</a></mat-card-actions>
        <mat-card-actions><a routerLink="/datenschutz">Datenschutzerklärung</a></mat-card-actions>
    </mat-card-content>
</mat-card>
