<div class="blocker"></div>
<h1>Diagnostik</h1>
<mat-card>
    <mat-card-header class="small-header">Wir bieten Ihnen ein breites Spektrum an diagnostischen Verfahren an. Hierzu zählen:</mat-card-header>
    <mat-card-content>
        <ul >
            <li>EKG</li>
            <li>Belastungs-EKG (Ergometrie)</li>
            <li>Lungenfunktionsprüfung incl. Sauerstoffmessung (Oximetrie)</li>
            <li>Langzeit-EKG</li>
            <li>Langzeit-Blutdruckmessung</li>
            <li>Ultraschalluntersuchungen des Bauchraumes, der Schilddrüse und der Beinvenen</li>
            <li>Labordiagnostik</li>
            <li>Allergiediagnostik</li>
            <li>Testverfahren bei Verdacht auf Hirnleistungsstörungen</li>
            <li>Doppler/Duplexsonographie der Halsgefäße (PKV / Selbstzahlerleistung)</li>
            <li>Echocardiographie (PKV / Selbstzahlerleistung)</li>
            <li>Gefäßdiagnostik mittels Knöchel-Arm-Index (ABI) und Doppler (PKV / Selbstzahlerleistung)</li>
        </ul>
    </mat-card-content>
</mat-card>
<div class="outer-box">
    <div class="inner-box">
        <a routerLink="/leistungen" class="back-link">
            <mat-icon class="back-icon">arrow_back_ios</mat-icon>
        </a>
    </div>
</div>