<div class="filler"></div>
<div class="outer-box">
    <div class="inner-box">
        <a routerLink="/team" class="back-link">
            <mat-icon class="back-icon">arrow_back_ios</mat-icon>
        </a>
    </div>
</div>
<div class="outer-container">
    <div class="container">
        <mat-card>
            <img mat-card-image src="\assets\rooms\sprechzimmer_01.jpg" height="267" width="400">
        </mat-card>
        <mat-card>
            <img mat-card-image src="\assets\rooms\sprechzimmer_02.jpg" height="267" width="400">
        </mat-card>
        <mat-card>
            <img mat-card-image src="\assets\rooms\sprechzimmer_03.jpg" height="267" width="400">
        </mat-card>
     
        <mat-card>
            <img mat-card-image src="\assets\rooms\wartezimmer_neu_03.jpg" height="267" width="400">
        </mat-card>
        <mat-card>
            <img mat-card-image src="\assets\rooms\Wartezimmer_02.jpg" height="267" width="400">
        </mat-card>
    
        <mat-card>
            <img mat-card-image src="\assets\rooms\Empfang_02.jpg" height="267" width="400">
        </mat-card>
    
        <mat-card>
            <img mat-card-image src="\assets\rooms\ultraschall.jpg" height="267" width="400">
        </mat-card>
        <mat-card>
            <img mat-card-image src="\assets\rooms\EKG.jpg" height="267" width="400">
        </mat-card>
        <mat-card>
            <img mat-card-image src="\assets\rooms\labor.jpg" height="267" width="400">
        </mat-card>
        <mat-card>
            <img mat-card-image src="\assets\rooms\behandlung.jpg" height="267" width="400">
        </mat-card>
    </div>
</div>
<div class="outer-box">
    <div class="inner-box">
        <a routerLink="/team" class="back-link">
            <mat-icon class="back-icon">arrow_back_ios</mat-icon>
        </a>
    </div>
</div>