@import 'src/colors.scss';

.filler {
    height: 7rem;
}

.back-icon {
    color: $primary-color;
}

.back-link:hover {
    cursor: pointer;
}

.outer-box {
    display: flex;
    justify-content: center;
}

.inner-box {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 80%;

}

.outer-container {
    display: flex;
    justify-content: center;
}

mat-card {
    margin-bottom: 2rem;
}