@import 'src/colors.scss';

.filler {
    height: 7.5rem;
}

.header-img-div {
    border-radius: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

mat-card {
    margin-bottom: 2rem;
}