@import 'src/colors.scss';
* {
    background: $primary-color-light; 
}

div {
    padding: 1rem 0 1rem 0;
}
.welcome-header {
    color: $primary-color;
    text-align: center;
    font-size: 2.75rem;
    font-style: normal;


}

@media screen and (min-width: 979px) {
    .welcome-header {
        font-size: 2.5rem;

    }

  }

@media screen and (max-width: 520px) {


    .welcome-header {
        font-size: 10vw;
    }

}