
<div class="filler"></div>
<img src="\assets\01_aerzte.jpg">
<div class="outer-box">
    <div class="header-box">
        <h2>Vereinbaren sie jetzt einen Termin.</h2>
        <button class="termin-link" routerLink="/termine">Termin vereinbaren</button>
    </div>
    <div class="box">

    </div>
    <mat-card class="rounded-box">
        <mat-card-content>Unsere Praxis ist an allen Werktagen des Jahres für Sie geöffnet. Lediglich an jedem letzten Mittwoch im Monat schliessen wir, um uns für Sie fortzubilden und zur Qualitätssicherung. Abweichungen geben wir hier und als Praxisaushang bekannt. Da nicht zu jeder Zeit alle Ärzte in der Praxis anwesend sind und um unnötige Wartezeiten zu vermeiden, bitten wir Sie um vorherige Terminvereinbarung. Für akute Erkrankungen halten wir für Sie täglich Termine frei, die Sie ab 8.00 Uhr des jeweiligen Tages telefonisch reservieren können.</mat-card-content>
        <mat-card-content class="day-column">
            <div>
                <p>Montag</p>
            </div>    
                <p>8.30 - 11.30 Uhr</p>
                <p>15.00 - 17.00 Uhr</p>
        </mat-card-content>
        <mat-card-content class="day-column">
                <p>Dienstag</p>
                <p>8.30 - 11.30 Uhr</p>
                <p>17.00 - 19.00 Uhr</p>
        </mat-card-content>
        <mat-card-content class="day-column">
                <p>Mittwoch</p>
                <p>8.30 - 11.30 Uhr</p>
                <p>geschlossen</p>
        </mat-card-content>
        <div class="day-column">
                <p>Donnerstag</p>
                <p>8.30 - 11.30 Uhr</p>
                <p>17.00 - 19.00 Uhr</p>
        </div>
        <mat-card-content class="day-column">
                <p>Freitag</p>
                <p>8.30 - 11.30 Uhr</p>
                <p>geschlossen</p>

        </mat-card-content>

    </mat-card>
</div>