
<div class="filler"></div>
<mat-card class="header-img-div">
    <img mat-card-image src="\assets\anmeldung_01.jpg" class="header-img">
</mat-card>
<div class="outer-box">
    <div class="header-box">
        <h2>Vereinbaren sie jetzt einen Termin.</h2>
        <a class="termin-link" href="https://webtermin.medatixx.de/#/d8fa1387-96af-4660-bcef-be3b07d35962/search" target="_blank">Online-Termin vereinbaren</a>
    </div>
    <div class="box">

    </div>
    <mat-card class="rounded-box">
        
        <mat-card-content class="day-column">
                <p class="day">Montag</p>    
                <p class="early-time">8.30 - 11.30 Uhr</p>
                <p class="late-time">15.00 - 17.00 Uhr</p>
        </mat-card-content>
        <mat-card-content class="day-column">
                <p class="day">Dienstag</p>
                <p class="early-time">8.30 - 11.30 Uhr</p>
                <p class="late-time">17.00 - 19.00 Uhr</p>
        </mat-card-content>
        <mat-card-content class="day-column">
                <p class="day">Mittwoch</p>
                <p class="early-time">8.30 - 11.30 Uhr</p>
                <p class="late-time">geschlossen</p>
        </mat-card-content>
        <mat-card-content class="day-column">
                <p class="day">Donnerstag</p>
                <p class="early-time">8.30 - 11.30 Uhr</p>
                <p class="late-time">17.00 - 19.00 Uhr</p>
        </mat-card-content>
        <mat-card-content class="day-column">
                <p class="day">Freitag</p>
                <p class="early-time">8.30 - 11.30 Uhr</p>
                <p class="late-time">geschlossen</p>
            
        </mat-card-content>
        <mat-card-content class="description">Unsere Praxis ist an allen Werktagen des Jahres für Sie geöffnet. Lediglich an jedem letzten Mittwoch im Monat schliessen wir, um uns für Sie fortzubilden und zur Qualitätssicherung. Abweichungen geben wir hier und als Praxisaushang bekannt. Da nicht zu jeder Zeit alle Ärzte in der Praxis anwesend sind und um unnötige Wartezeiten zu vermeiden, bitten wir Sie um vorherige Terminvereinbarung. Für akute Erkrankungen halten wir für Sie täglich Termine frei, die Sie ab 8.00 Uhr des jeweiligen Tages telefonisch reservieren können.</mat-card-content>
    </mat-card>
</div>