@import 'src/colors.scss';

* {
    background: $primary-color-light;
}

.filler {
    height: 4.8rem;
}

.header-img{
    margin-bottom: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

.header-img-div {
    border-radius: 0;
}

h2 {
    color: $primary-color;
}

.outer-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.header-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
}

.termin-link {
    background-color: $primary-color; 
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: .25rem;
    
}

.termin-link:hover {
    background: $accent-color;
}

.rounded-box {
    height: fit-content;
    background: $primary-color-light;
    align-items: center;
    width: 100%;
    margin: 1rem 0 1rem 0;

}

.day-column {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    max-width: 90%;
}

.description {
    max-width: 90%;
    width: 35rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.late-time {
    width: 8.2rem;
    font-weight: 900;
}

.early-time {
    width: 8rem;
    margin-right: 2rem;
    font-weight: 900;
}

.day {
    width: 8rem;
    font-weight: 900;
}
p {
    color: $primary-color;
}

@media screen and (max-width: 800px) {
    .description {
        margin-left: 0;
    }
  }