@import 'src/colors.scss';

.blocker {
    height: 4.8rem;
}

.small-header {
    font-weight: bold;
}

a {
    max-width: 80%;
    margin: 1rem 0 0 1rem;
}

.back-icon {
    color: $primary-color;
    margin: 1rem 0 1rem 0;
}

.back-link:hover {
    cursor: pointer;
}

.outer-box {
    display: flex;
    justify-content: center;
}

.inner-box {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}