<div class="blocker"></div>


<h1>Impfberatung bei Reisen </h1>
<mat-card>
    <a>Für eine umfassende Impfberatung vor einer geplanten Reise melden Sie sich bitte gerne an. Die Beratung ist eine Privat/iGeL-Leistung und kostet ca. € 40,00.</a>
    <a>Wir führen alle Impfungen - bis auf die Gelbfieberimpfung - in unserer Praxis durch. Bitte bringen Sie Ihren Impfpass und Informationen über die Reiseroute zum Termin mit.</a>
</mat-card>
<div class="outer-box">
    <div class="inner-box">
        <a routerLink="/leistungen" class="back-link">
            <mat-icon class="back-icon">arrow_back_ios</mat-icon>
        </a>
    </div>
</div>
<div class="blocker"></div>

