.big-filler {
    height: 5.5rem;
}

.filler {
    height: 1.5rem;
}

h1 {
    margin-left: 1rem;
}

mat-card-header {
    font-size: 1.5rem;
    font-weight: 800;
    margin-left: 1rem;
}

mat-card-subtitle {
    margin: 1rem 0 0 3rem;
    font-size: larger;
    font-weight: 400;
}

mat-card-content {
    margin: 0 2rem 0 2rem;
}

.italic {
    font-style: italic;
}