<div class="big-filler"></div>
<h1>Impressum</h1>

<mat-card>
    <mat-card-content>Marcus Jünemann FA für Innere Medizin / Palliativmedizin / FA für Allgemeinmedizin / Hausarzt</mat-card-content>
    <mat-card-content>Claus Jöllenbeck FA für Innere Medizin / Internistische Intensivmed. / FA für Allgemeinmedizin / Hausarzt</mat-card-content>
    <mat-card-content>Dr. med Janka Wolter FÄ für Allgemeinmedizin / Naturheilverfahren / Akupunktur / Hausärztin</mat-card-content>
    <mat-card-content class="filler"></mat-card-content>
    <mat-card-content>Ahrensfelder Weg 1, 22927 Großhansdorf,</mat-card-content>
    <mat-card-content>Telefon (04102) 786960 · Telefax (04102) 7869639</mat-card-content>
    <mat-card-content>E-Mail: praxis(at)hausaerztegemeinschaft.de, Internet: www.hausaerztegemeinschaft.de</mat-card-content>
    <mat-card-content class="filler"></mat-card-content>
    <mat-card-header>Zuständige Kammer</mat-card-header>
    <mat-card-content>Landesärztekammer Schleswig-Holstein, Bismarckallee 8 - 12, 23795 Bad Segeberg</mat-card-content>
    <mat-card-content class="filler"></mat-card-content>
    <mat-card-header>Zuständige kassenärztliche Vereinigung</mat-card-header>
    <mat-card-content>Kassenärztliche Vereinigung Schleswig-Holstein, Bismarckallee 1-6, 23795 Bad Segeberg</mat-card-content>
    <mat-card-content class="filler"></mat-card-content>
    <mat-card-header>Berufsbezeichnung</mat-card-header>
    <mat-card-content>Arzt (verliehen in der Bundesrepublik Deutschland)</mat-card-content>
    <mat-card-content class="filler"></mat-card-content>
    <mat-card-header>Berufsrechtliche Regelungen</mat-card-header>
    <mat-card-content>- Berufsordnung der Landesärztekammer Schleswig Holstein</mat-card-content>
    <mat-card-content>- Heilberufegesetz des Landes Schleswig Holstein</mat-card-content>
    <mat-card-content>Die Regelungen finden sich im Gesetzblatt des Landes.</mat-card-content>
    <mat-card-content class="filler"></mat-card-content>
    <mat-card-header>Fotos</mat-card-header>
    <mat-card-content>Frank Jasper, www.frankjasper.de</mat-card-content>
    <mat-card-content class="filler"></mat-card-content>
    <mat-card-header>Seite von</mat-card-header>
    <mat-card-content>Robin Jünemann</mat-card-content>
    <mat-card-header>Haftungshinweis</mat-card-header>
    <mat-card-subtitle>Haftung für Inhalte</mat-card-subtitle>
    <mat-card-content>
        Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
    </mat-card-content>
    <mat-card-subtitle>Haftung für Links</mat-card-subtitle>
    <mat-card-content>
        Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
    </mat-card-content>
    <mat-card-subtitle>Urheberrecht</mat-card-subtitle>
    <mat-card-content>
        Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
    </mat-card-content>
    <mat-card-subtitle>Datenschutz</mat-card-subtitle>
    <mat-card-content>
        Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
    </mat-card-content>
    <mat-card-content class="filler"></mat-card-content>
    <mat-card-content class="italic">Quellenangaben: <a href="https://www.e-recht24.de/muster-disclaimer.html">Disclaimer eRecht24</a></mat-card-content>
</mat-card>