@import 'src/colors.scss';

.warning-box {
    display: flex;
    justify-content: center;
    align-items: center; 
    background: $warn-color-light; 
    max-width: 90%;
    margin: auto;
    border: 2px solid $warn-color;

}

.outer-box{
    display: block;
    background: $primary-color-light;
    padding-bottom: 2rem;
    margin-top: 0;
}

.warning-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0; 
    max-width: 100%;
    color: $primary-color;
    text-align: center;
    font-size: 1.35rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    height: fit-content;

}

@media only screen and (max-width: 600px) {
    .warning-message {
        font-size: 3.5vw;
    }
}