<div class="filler"></div>

<div class="container">
    <mat-card>
        <img mat-card-xl-image src="\assets\team\Team_rw_c.jpg">
        <mat-card-content>
            <h4>H. Ruge-Wenzel</h4>
            <a>Medizinische Fachangestellte  Praxismanagerin</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <img mat-card-xl-image src="\assets\team\s_kaluzny.jpeg">
        <mat-card-content>
            <h4>S. Kaluzny</h4>
            <a>Medizinische Fachangestellte Praxismanagerin</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <img mat-card-xl-image src="\assets\team\b_albrecht_c.jpg">
        <mat-card-content>
            <h4>B. Wulf-Albrecht </h4>
            <a>Medizinische Fachangestellte nicht-ärztliche Praxisassistentin</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <img mat-card-xl-image src="\assets\team\Team_meier_c.jpg">
        <mat-card-content>
            <h4>M. Meier</h4>
            <a>Medizinische Fachangestellte</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <img mat-card-xl-image src="\assets\team\Team_torley_c.jpg">
        <mat-card-content>
            <h4>E. Torley</h4>
            <a>Medizinische Fachangestellte</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <img mat-card-xl-image src="\assets\team\k_severloh.jpg">
        <mat-card-content>
            <h4>K. Severloh</h4>
            <a>Medizinische Fachangestellte</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <img mat-card-xl-image src="\assets\team\Team_latowski.jpg">
        <mat-card-content>
            <h4>M. Latowski</h4>
            <a>Medizinische Fachangestellte</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <img mat-card-xl-image src="\assets\team\b_scharf.jpg">
        <mat-card-content>
            <h4>B. Scharf</h4>
            <a>Medizinische Fachangestellte</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <img mat-card-xl-image src="\assets\team\k_beck.jpg">
        <mat-card-content>
            <h4>K. Beck</h4>
            <a>Medizinische Fachangestellte</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <img mat-card-xl-image src="\assets\team\n_moske.jpeg">
        <mat-card-content>
            <h4>N. Moske</h4>
            <a>Auszubildende MFA</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <img mat-card-xl-image src="\assets\team\Team_karim_sw.jpg">
        <mat-card-content>
            <h4>R. Karim</h4>
            <a>Auszubildende MFA</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <img mat-card-xl-image src="\assets\team\Team_kizilboga.jpg">
        <mat-card-content>
            <h4>Z. Kizilboga</h4>
            <a>Auszubildende MFA</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <img mat-card-xl-image src="\assets\team\h_suß.jpg">
        <mat-card-content>
            <h4>H. Suß</h4>
            <a>Auszubildende MFA</a>
        </mat-card-content>
    </mat-card>

</div>