@import 'src/colors.scss';

.filler {
    height: 7rem;
}

.back-icon {
    color: $primary-color;
}

.back-link:hover {
    cursor: pointer;
}

.outer-box {
    display: flex;
    justify-content: center;
}

.inner-box {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

mat-card {
    width: 15rem;
    margin: 1rem;
}
