<div class="blocker"></div>
<h1>Behandlung</h1>
<mat-card>
    <mat-card-header class="small-header">Wir bieten Ihnen u.a. die folgenden Behandlungsverfahren an:</mat-card-header>
    <mat-card-content>
        <ul >
            <li>Akupunktur</li>
            <li>Allergiebehandlung / Hyposensibilisierung</li>
            <li>Betreuung im Rahmen der DMP / Chronikerprogramme für Diabetes mellitus, Koronare Herzkrankheit, COPD und Asthma bronchiale</li>
            <li>Diabetikerschulung</li>
            <li>Hausbesuche</li>
            <li>Homöopathische Behandlung</li>
            <li>Infusionstherapien</li>
            <li>Neuraltherapie</li>
            <li>Punktionen und Aderlässe</li>
        </ul>
    </mat-card-content>
</mat-card>
<div class="outer-box">
    <div class="inner-box">
        <a routerLink="/leistungen" class="back-link">
            <mat-icon class="back-icon">arrow_back_ios</mat-icon>
        </a>
    </div>
</div>
