<div class="blocker"></div>
<mat-card class="header-img-div ">
    <img mat-card-image src="\assets\01_aerzte.jpg">
</mat-card>

<mat-card class="header">
    <h2>LEISTUNGEN</h2>
    <h3>Wir bieten Ihnen ein breites Spektrum an Vorsorge, Diagnostik und Therapie von Erkrankungen aus den Gebieten der Allgemeinmedizin und der Inneren Medizin.</h3>
</mat-card>    

<mat-card class="container">
    <mat-card class="rounded-box">
        <mat-card-content>
                <!-- <img src="\assets\medical_advice.jpg" width="400" height="400"> -->
                <mat-card-header class="header-text">Vorsorge</mat-card-header>
                <mat-card-content>Wir bieten eine Vielzahl an unterschiedlichen Vorsorgeuntersuchungen und -maßnahmen an.</mat-card-content>
    
        </mat-card-content>


    </mat-card>
    <mat-card class="rounded-box">
        <mat-card-content>
                <!-- <img src="\assets\medical_diagnose.jpg" width="400" height="400"> -->
                <mat-card-header class="header-text">Diagnose</mat-card-header>
                <mat-card-content>Wir bieten eine allumfassende Diagnostik mithilfe modernster Technik.</mat-card-content>
        </mat-card-content>


    </mat-card>
    <mat-card class="rounded-box">
        <mat-card-content>
                <!-- <img src="\assets\medical_advice.jpg" width="400" height="400"> -->
                <mat-card-header class="header-text">Behandlung</mat-card-header>
                <mat-card-content>Wir bieten eine Vielzahl an unterschiedlichen Behandlungen und Verfahren an.</mat-card-content>              
        </mat-card-content>

    </mat-card>
    <mat-card class="rounded-box">
        <mat-card-content>
                <!-- <img src="\assets\medical_advice.jpg" width="400" height="400"> -->
            <mat-card-header class="header-text">Impfberatung bei Reisen</mat-card-header>
            <mat-card-content>Wir bieten eine Vielzahl an Impfung, abgestimmt auf ihr Reiseziel, an.</mat-card-content>
        </mat-card-content>

    </mat-card>
</mat-card>
<div class="big-blocker"></div>

