@import 'src/colors.scss';

.div-blue {
    width: 100%;
    height: 25rem;
    flex-shrink: 0; 
    background: $primary-color-light; 
    margin-top: 0; 
    }

.half-box {
    max-width: 50%;

}   

.welcome-header {
        color: $primary-color;
        text-align: center;
        font-size: 2.75rem;
        font-style: normal;
        margin: 0;

    }
    
.welcome-text {
        flex-shrink: 0;  
        color: white;
        text-align: center;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        font-style: normal;

    }
    
.welcome-picture {
    border-radius: 0.25rem 0 0 0.25rem;
    margin-top: 0.4rem;
    max-width: 100%;
    object-fit: cover;
    }
    
.rounded-content-box {
        width: 81.375rem;
        height: 26rem; 
        border-radius: .25rem;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin: 0 auto;
        max-width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;       
        background: $primary-color;
    }
    


    @media screen and (min-width: 1500px) {
        .welcome-header {
            font-size: 2rem;

        }

        .welcome-text {
            font-size: 1.5rem;

        }
      }

    @media screen and (max-width: 600px) {


        .welcome-text {
            font-size: 0.7rem;

        }
        .welcome-picture {
            max-height: 100%;
            border-radius: 0.25rem 0.25rem 0 0;
        }

        .rounded-content-box {
            flex-direction: column;
            height: 17rem;

        }


        .half-box {
            max-width: 100%;
        }

        .picture-box {
            max-height: 70%;
        }

        .welcome-text {
            margin-top: 1rem;
        }

        .div-blue {
            height: 25rem;
        }

        .welcome-header {
            font-size: 2rem;
        }
      }