<div class="div-blue">
    <div>
    </div>
    <div class="rounded-content-box">
        <div class="picture-box">
            <img class="welcome-picture" src="/assets/Empfang_02.jpg" style="width: 670px;height:416px;">
        </div>
        <div class="half-box">
            <h2 class="welcome-header">Herzlich Willkommen in der Gemeinschaftspraxis!</h2>
            <h3 class="welcome-text">Wir bieten Ihnen ein breites Spektrum an Vorsorge, Diagnostik und Therapie von Erkrankungen aus den Gebieten der Allgemeinmedizin und der Inneren Medizin. Wir wenden Verfahren aus dem Bereich der Schulmedizin und auch alternative Verfahren an.</h3>  
        </div>

    </div>
</div>

