<div class="filler"></div>


<div class="container">
    <mat-card>
        <img mat-card-xl-image src="\assets\dr_juenemann_c.jpg">
        <mat-card-content>
            <h4>Marcus Jünemann</h4>
            <a>Facharzt für Innere Medizin Facharzt für Allgemeinmedizin und Palliativmedizin</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <img mat-card-xl-image src="\assets\c_joellenbeck_c.jpg">
        <mat-card-content>
            <h4>Claus Jöllenbeck</h4>
            <a>Facharzt für Innere Medizin, internistische Intensivmedizin Facharzt für Allgemeinmedizin</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <img mat-card-xl-image src="\assets\dr_wolter_c.jpg">
        <mat-card-content>
            <h4>Dr. med. Janka Wolter</h4>
            <a>Fachärztin für Allgemeinmedizin und Palliativmedizin, Naturheilkunde und Akupunktur</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <img mat-card-xl-image src="\assets\doctors\a_reichert_c.jpg">
        <mat-card-content>
            <h4>Anita Reichert-Wasserloos</h4>
            <a>Fachärztin für Allgemeinmedizin Praxisvertreterin</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <img mat-card-xl-image src="\assets\doctors\dr_v_jagow.jpg">
        <mat-card-content>
            <h4>Dr. med. Dorothea v. Jagow</h4>
            <a>Fachärztin für Innere Medizin angestellte Ärztin</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <img mat-card-xl-image src="\assets\doctors\dr_tillman_walk_c.jpg">
        <mat-card-content>
            <h4>Dr. med. Tillman Walk</h4>
            <a>Facharzt für Innere Medizin angestellter Arzt</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <img mat-card-xl-image src="\assets\doctors\dr_hartmann.jpg">
        <mat-card-content>
            <h4>Dr. med. Julika Hartmann</h4>
            <a>Fachärztin für Allgemeinmedizin angestellte Ärztin</a>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <img mat-card-xl-image src="\assets\doctors\a_plato.jpeg">
        <mat-card-content>
            <h4>Andrea Plato</h4>
            <a>Weiterbildungsassistentin Allgemeinmedizin </a>
        </mat-card-content>
    </mat-card>
</div>
<div class="filler"></div>
<div class="filler"></div>
<div class="filler"></div>
<div class="filler"></div>
