@import 'src/colors.scss';

.filler {
    height: 5.5rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

mat-card {
    width: 15rem;
    margin: 1rem;
}