
<div class="outer-box">
  <mat-card>

    <div class="filler"></div>
    <mat-card-header>Kontaktfomular</mat-card-header>
    <div class="filler"></div>
    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input matInput placeholder="Max Mustermann" id="name" type="text" [(ngModel)]="dataset.name" name="name"  [formControl]="name">
      <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>E-Mail:</mat-label>
      <input matInput placeholder="max@mustermann.de" id="email" type="email" [(ngModel)]="dataset.email" name="email"  [formControl]="email">
      <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Betreff:</mat-label>
      <input matInput id="subject" type="text" [(ngModel)]="dataset.subject" name="subject" [formControl]="subject" >
      <mat-error *ngIf="subject.invalid">{{getErrorMessageSubject()}}</mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Nachricht:</mat-label>
      <textarea matInput id="message" type="text" [(ngModel)]="dataset.message" name="message" [formControl]="message" ></textarea>
      <mat-error *ngIf="message.invalid">{{getErrorMessageMessage()}}</mat-error>
    </mat-form-field>
    
    <re-captcha (resolved)="resolved($event)" siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></re-captcha>
    <mat-card-actions>
      <!-- <button mat-button class="button" (click)="onSubmit()">Abschicken</button> -->
    </mat-card-actions>  
    <div class="filler"></div>
  </mat-card>
</div>

