@import 'src/colors.scss';

.field {
    width: 60vw;
    max-width: 90%;
}

.button {
    padding: 2rem;
    background: $primary-color;
    color: white;
    margin: 2rem 0 2rem 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.filler {
    height: 3rem;
}

// .outer-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
// }

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}