<div class="blocker"></div>
<h1>Vorsorge</h1>
<mat-card>
    <mat-card-header class="small-header">Im Rahmen der Vorsorge bieten wir als Leistungen der gesetzlichen Krankenversicherung an:</mat-card-header>
    <mat-card-content>
        <ul >
            <li>Gesundheitsuntersuchung ("Check-up 35")</li>
            <li>Impfberatung und Durchführung der Standardimpfungen</li>
            <li>Kinder-Vorsorgeuntersuchungen</li>
            <li>Beratung zur Darmkrebsvorsorge (ggf. mit Durchführung von Stuhluntersuchungen)</li>
            <li>Screening auf Erweiterung der Hauptschlagader ("Aortenaneurysma") mittels Ultraschall für Männer ab dem 65. Lebensjahr</li>
            <li>Ultraschalluntersuchungen des Bauchraumes, der Schilddrüse und der Beinvenen</li>
        </ul>
    </mat-card-content>
    <mat-card-header class="small-header">Als Privat- bzw. Selbstzahlerleistungen bieten wir zusätzlich an:</mat-card-header>
    <mat-card-content>
        <ul >
            <li>Erweiterte Labordiagnostik im Rahmen der Vorsorge</li>
            <li>Reiseimpfberatung und Durchführung der meisten Reiseimpfungen</li>
            <li>Fahrerlaubnis-Untersuchungen</li>
            <li>Tauchtauglichkeits-Untersuchungen</li>
            <li>Ultraschalldiagnostik</li>
            <li>"Gefäßcheck" zur Bestimmung des Arterioskleroserisikos</li>
            <li>"Herz-Kreislauf-Check" mit EKG, Belastungs-EKG und Echocardiographie ("Herz-Ultraschall")</li>
        </ul>
    </mat-card-content>
    
</mat-card>
<div class="outer-box">
    <div class="inner-box">
        <a routerLink="/leistungen" class="back-link">
            <mat-icon class="back-icon">arrow_back_ios</mat-icon>
        </a>
    </div>
</div>