<div class="filler"></div>
<mat-card class="header-img-div ">
    <img mat-card-image src="\assets\01_aerzte.jpg">
</mat-card>
<div class="container">
    <mat-card class="header">
        <mat-card-header class="main-header">Lernen sie unsere Praxis kennen</mat-card-header>
    </mat-card>
    <mat-card class="flex-column">
        <mat-card-header class="small-header">Unsere Ärzte</mat-card-header>
        <mat-card-actions>
            <button mat-button class="button" routerLink="/ärzte">Sehen sie alle Ärzte</button>
        </mat-card-actions>
        <div>

        </div>
        <mat-card-content class="flex-row">
            <div class="border">
                <mat-card class="small-container">
                    <img mat-card-xl-image src="\assets\dr_juenemann_c.jpg">
                    <mat-card-content class="footer">
                    <a>Marcus Jünemann</a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="border">
                <mat-card class="small-container">
                    <img mat-card-xl-image src="\assets\c_joellenbeck_c.jpg">
                    <mat-card-content class="footer">
                    <a>Claus Jöllenbeck</a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="border">
                <mat-card class="small-container">
                    <img mat-card-xl-image src="\assets\dr_wolter_c.jpg">
                    <mat-card-content class="footer">
                    <a>Dr. med. Janka Wolter</a>
                    </mat-card-content>
                </mat-card>
            </div>
            


        </mat-card-content>
    </mat-card>
    <mat-card class="flex-column">
        <mat-card-header class="small-header">Unser Team</mat-card-header>
        <mat-card-actions>
            <button mat-button class="button" routerLink="/angestellte">Sehen sie unser Team</button>
        </mat-card-actions>
        <mat-card-content class="flex-row">
            <div class="border">
                <mat-card class="small-container">
                    <img mat-card-xl-image src="\assets\team\Team_rw_c.jpg">
                    <mat-card-content class="footer">
                    <a>H. Ruge-Wenzel</a>
                    </mat-card-content>
                </mat-card>
            </div>
            
            <div class="border">
                <mat-card class="small-container">
                    <img mat-card-xl-image src="\assets\team\s_kaluzny.jpeg">
                    <mat-card-content class="footer">
                    <a>S. Kaluzny </a>
                    </mat-card-content>
                </mat-card>
            </div>
            
            <!-- <mat-card class="small-container">
                <img mat-card-image src="\assets\dr_wolter_c.jpg" width="250" height="250">
                <mat-card-content>
                <a>Marcus Jünemann</a>
                </mat-card-content>
            </mat-card> -->

        </mat-card-content>
    </mat-card>
    <mat-card class="flex-column">
        <mat-card-header class="small-header">Unsere Räumlichkeiten</mat-card-header>
        <mat-card-actions>
            <button mat-button class="button" routerLink="/standort">Sehen sie die Räumlichkeiten</button>
        </mat-card-actions>
        <mat-card-content class="flex-row">
            <div class="border">
                <mat-card class="small-container">
                    <img mat-card-xl-image src="\assets\rooms\sprechzimmer_01.jpg">
                    <mat-card-content class="footer">
                    <a>Behandlungsraum 1</a>
                    </mat-card-content>
                </mat-card>
            </div>
            
            <div class="border">
                <mat-card class="small-container">
                    <img mat-card-xl-image src="\assets\rooms\sprechzimmer_02.jpg">
                    <mat-card-content class="footer">
                    <a>Behandlungsraum 2</a>
                    </mat-card-content>
                </mat-card>
            </div>
            
            <div class="border">
                <mat-card class="small-container">
                    <img mat-card-xl-image src="\assets\rooms\sprechzimmer_03.jpg">
                    <mat-card-content class="footer">
                    <a>Behandlungsraum 3</a>
                    </mat-card-content>
                </mat-card>
            </div>
            

        </mat-card-content>
    </mat-card>
</div>

