@import 'src/colors.scss';

* {
    background: $primary-color-light;
}

.filler {
    height: 5.5rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.small-header {
    font-size: 1.8rem;
    font-weight: 900;
    color: $primary-color;
}

.footer {
    background: $primary-color;
    margin-top: 1rem;
}

.button {
    padding: 2rem;
    background: $primary-color;
    color: white;
    margin: 2rem 0 2rem 0;
    font-weight: 700;
    z-index: 0;
}

button:hover {
background: $accent-color;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

mat-card-actions {
    color: white;
}

.main-header {
    align-self: center;
    font-size: 2rem;
    font-weight: 900;
    color: $primary-color;
}

.small-container {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    background: $primary-color;
    color: white;
    // margin: 2rem;
}

a {
    align-self: center;
    background: $primary-color;
}

.border {
    margin: 2rem;
}


img {
    margin: 0;
}

