<div class="filler"></div>
<div class="container">
    <mat-card class="header">
        <mat-card-header class="main-header">Lernen sie unsere Praxis kennen</mat-card-header>
    </mat-card>
    <mat-card class="flex-column">
        <mat-card-header class="small-header">Unsere Ärzte</mat-card-header>
        <mat-card-actions>
            <button mat-button>Sehen sie alle Ärzte</button>
        </mat-card-actions>
        <mat-card-content class="flex-row">
            <mat-card class="small-container">
                <img mat-card-image src="\assets\dr_juenemann_c.jpg" width="250" height="250">
                <mat-card-content>
                <a>Marcus Jünemann</a>
                </mat-card-content>
            </mat-card>
            <mat-card class="small-container">
                <img mat-card-image src="\assets\c_joellenbeck_c.jpg" width="250" height="250">
                <mat-card-content>
                <a>Marcus Jünemann</a>
                </mat-card-content>
            </mat-card>
            <mat-card class="small-container">
                <img mat-card-image src="\assets\dr_wolter_c.jpg" width="250" height="250">
                <mat-card-content>
                <a>Marcus Jünemann</a>
                </mat-card-content>
            </mat-card>

        </mat-card-content>
    </mat-card>
    <mat-card class="flex-column">
        <mat-card-header class="small-header">Unser Team</mat-card-header>
        <mat-card-actions>
            <button mat-button>Sehen sie unser Team</button>
        </mat-card-actions>
        <mat-card-content class="flex-row">
            <mat-card class="small-container">
                <img mat-card-image src="\assets\dr_juenemann_c.jpg" width="250" height="250">
                <mat-card-content>
                <a>Marcus Jünemann</a>
                </mat-card-content>
            </mat-card>
            <mat-card class="small-container">
                <img mat-card-image src="\assets\c_joellenbeck_c.jpg" width="250" height="250">
                <mat-card-content>
                <a>Marcus Jünemann</a>
                </mat-card-content>
            </mat-card>
            <mat-card class="small-container">
                <img mat-card-image src="\assets\dr_wolter_c.jpg" width="250" height="250">
                <mat-card-content>
                <a>Marcus Jünemann</a>
                </mat-card-content>
            </mat-card>

        </mat-card-content>
    </mat-card>
    <mat-card class="flex-column">
        <mat-card-header class="small-header">Unsere Räumlichkeiten</mat-card-header>
        <mat-card-actions>
            <button mat-button>Sehen sie die Räumlichkeiten</button>
        </mat-card-actions>
        <mat-card-content class="flex-row">
            <mat-card class="small-container">
                <img mat-card-image src="\assets\dr_juenemann_c.jpg" width="250" height="250">
                <mat-card-content>
                <a>Marcus Jünemann</a>
                </mat-card-content>
            </mat-card>
            <mat-card class="small-container">
                <img mat-card-image src="\assets\c_joellenbeck_c.jpg" width="250" height="250">
                <mat-card-content>
                <a>Marcus Jünemann</a>
                </mat-card-content>
            </mat-card>
            <mat-card class="small-container">
                <img mat-card-image src="\assets\dr_wolter_c.jpg" width="250" height="250">
                <mat-card-content>
                <a>Marcus Jünemann</a>
                </mat-card-content>
            </mat-card>

        </mat-card-content>
    </mat-card>
</div>

