@import 'src/colors.scss';

* {
    background: $primary-color-light;
}

.filler {
    height: 4.8rem;
}

.header-img{
    margin-bottom: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

.header-img-div {
    border-radius: 0;
}
.small-filler {
    height: 4rem;
}



mat-card-header {
    margin-left: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

mat-card-content {
    margin-left: 5rem;
}

.bold {
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    mat-card-header {
        margin-left: 0rem;
    }
    
    mat-card-content {
        margin-left: 0rem;
    }
}