<div class="filler"></div>
<mat-card class="header-img-div">
    <img mat-card-image src="\assets\anmeldung_01.jpg" class="header-img">
</mat-card>
<mat-card>
    <mat-card-header class="bold">So finden sie uns</mat-card-header>
    <mat-card-content class="bold">Hausärztliche Gemeinschaftspraxis Jünemann & Jöllenbeck & Wolter</mat-card-content>
    <mat-card-content class="bold">Ahrensfelder Weg 1 (Zugang über Sieker Landstrasse 122-124)</mat-card-content>
    <mat-card-content class="bold">22927 Großhansdorf</mat-card-content>
    <mat-card-content>Tel. (04102) 786960 · Fax (04102) 7869639</mat-card-content>
    <mat-card-content class="small-filler"></mat-card-content>
    <mat-card-content>U-Bahn: U1, Haltestelle Schmalenbeck;</mat-card-content>
    <mat-card-content>HVV-Bus: Linie 369 und 658, Haltestelle U-Schmalenbeck</mat-card-content>
    <mat-card-content>Parkplätze: Hinter dem Ärztehaus, Einfahrt über die Sieker Landstraße</mat-card-content>
    <mat-card-content class="small-filler"></mat-card-content>
    <mat-card-content>Der Zugang zu unserer Praxis ist barrierefrei. Ein Fahrstuhl ist vorhanden.</mat-card-content>
    <mat-card-content class="small-filler"></mat-card-content>
    <mat-card-content>Hier finden Sie eine Anfahrtsbeschreibung zu unserer Praxis:</mat-card-content>
    <app-google-maps></app-google-maps>
    <mat-card-content class="small-filler"></mat-card-content>
</mat-card>
