<div class="background">
<div class="gallery">
    <mat-card class="picture-one">
        <img mat-card-image src="/assets/dr_juenemann_c.jpg" width="400" height="400">
        <mat-card-header>Marcus Jünemann</mat-card-header>
        <mat-card-content class="picture-description">Facharzt für Innere Medizin, Facharzt für Allgemeinmedizin, Palliativmedizin</mat-card-content>
    </mat-card>
    <mat-card class="picture-two">
        <img mat-card-image src="/assets/c_joellenbeck_c.jpg" width="400" height="400">
        <mat-card-header>Claus Jöllenbeck </mat-card-header>
        <mat-card-content class="picture-description">Facharzt für Innere Medizin, Facharzt für Allgemeinmedizin, Palliativmedizin</mat-card-content>
    </mat-card>
    <mat-card class="picture-three">
        <img mat-card-image src="/assets/dr_wolter_c.jpg" width="400" height="400">
        <mat-card-header>Dr. med. Janka Wolter</mat-card-header>
        <mat-card-content class="picture-description">Facharzt für Innere Medizin, Facharzt für Allgemeinmedizin, Palliativmedizin</mat-card-content>
    </mat-card>
</div>
</div>