<div class="filler"></div>
<img src="\assets\01_aerzte.jpg">
<div class="filler"></div>
<h1>Werde Teil des Teams!</h1>
<h3>Wir zahlen nach Tarif? Andere Gründe warum wir ein cooler Arbeitgeber sind!</h3>
<div class="container">
    <mat-card>
        <mat-card-header>Med. Fachangestellte/n (w/m/d) in Vollzeit</mat-card-header>
        <mat-card-content class="small-filler"></mat-card-content>
        <mat-card-content>

            Zur Verstärkung unseres großartigen Teams suchen wir eine/n
            
            Med. Fachangestellte/n (w/m/d) in Vollzeit ab sofort.
            
            Wir freuen uns auf Ihre Bewerbungen!
            </mat-card-content>
    </mat-card>
    <!-- <mat-card>
        <mat-card-header>Med. Fachangestellte/n (w/m/d) in Vollzeit</mat-card-header>
        <mat-card-content>

            Zur Verstärkung unseres großartigen Teams suchen wir eine/n
            
            Med. Fachangestellte/n (w/m/d) in Vollzeit ab sofort
            
            Wir freuen uns auf Ihre Bewerbungen!
            </mat-card-content>
    </mat-card> -->
</div>
<div class="filler"></div>
<div class="filler"></div>
<div class="filler"></div>
<div class="filler"></div>
