<div class="filler"></div>

<div>
    <mat-card class="header-img-div">
        <img mat-card-image src="\assets\anmeldung_01.jpg" class="header-img">
    </mat-card>
    <h2>Praxis Jünemann & Jöllenbeck & Wolter</h2>
    <h3>Kontaktieren sie uns</h3>
<div class="container">
    <div>
        <div class="inner-container">
            <mat-icon>pin_drop</mat-icon>
            <a href="https://maps.app.goo.gl/nZDLNG5yEgnXy6uU8" target="_blank">Ahrensfelder Weg 1 22927 Großhansdorf</a>
        </div>
        <div class="inner-container">
            <mat-icon>mail</mat-icon>
            <a href="mailto:praxis@hausaerztegemeinschaft.de">praxis@hausaerztegemeinschaft.de</a>
        </div>       
        <div class="inner-container">
            <mat-icon>call</mat-icon>
            <a href="tel:+494102786960 ">04102 / 786960 </a>
        </div>
        <div class="inner-container">
            <mat-icon>fax</mat-icon>
            <a>04102 / 7869639 </a>
        </div>

    </div>
</div>
<div class="formContainer">
    <mat-card class="formCard">
        <div class="filler"></div>
        <mat-card-header>Kontaktfomular</mat-card-header>
        <div class="filler"></div>
        <app-contact-form ></app-contact-form>
    </mat-card>
</div>

</div>
